:root {
    --black: #000;
    --white: #fff;
    --green: #088178;
    --lite-black: #222;
    --lite-grey: #465b52;
}

button {
    transition: all .4s;
}

.c {
    max-width: 1440px;
    padding: 0px 100px;
}

.section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.section-m1
{
    margin: 40px 0;
}

.section + .section {
    padding-bottom: 0px;
}

.section + .section-m1 {
    margin-top: 0px;
}